# Environment

SALES_HUB_API_BASE_URL=
SALES_HUB_API_PREFIX=
SALES_HUB_API_TIMEOUT_MS=
SALES_HUB_API_RETRY_COUNT=
SALES_HUB_API_KEY=
SALES_HUB_API_CLIENT_ID=
SALES_HUB_API_CLIENT_SECRET=

SALES_HUB_AUTH_MODE=
SALES_HUB_AUTH_TOKEN_KEY=
SALES_HUB_AUTH_LOGIN_PATH=
SALES_HUB_AUTH_REFRESH_PATH=
SALES_HUB_AUTH_ME_PATH=
SALES_HUB_JWT_AUDIENCE=
SALES_HUB_JWT_ISSUER=

SALES_HUB_SQL_DIALECT=
SALES_HUB_SQL_HOST=
SALES_HUB_SQL_PORT=
SALES_HUB_SQL_DATABASE=
SALES_HUB_SQL_USER=
SALES_HUB_SQL_PASSWORD=
SALES_HUB_SQL_SSL=
SALES_HUB_SQL_POOL_MIN=
SALES_HUB_SQL_POOL_MAX=
SALES_HUB_SQL_SCHEMA=
SALES_HUB_SQL_MIGRATIONS_PATH=

SALES_HUB_DATA_BACKEND=
SALES_HUB_LOCAL_STORAGE_KEY=
SALES_HUB_SEED_SAMPLE_DATA=
SALES_HUB_REF_DATE_OVERRIDE=
SALES_HUB_WRITE_BATCH_SIZE=
SALES_HUB_DEV_BYPASS_AUTH=

SALES_HUB_SSO_ENABLED=
SALES_HUB_SSO_MALL_LOGIN_PATH=
SALES_HUB_SSO_SESSION_KEY=
SALES_HUB_SSO_AUTH_STARTED_KEY=
SALES_HUB_SSO_MAX_AGE_MS=
SALES_HUB_STAFF_DOMAIN_1=
SALES_HUB_STAFF_DOMAIN_2=
SALES_HUB_STAFF_DOMAIN_3=
SALES_HUB_STAFF_DOMAIN_4=

SALES_HUB_PUBLIC_APP_NAME=
SALES_HUB_PUBLIC_APP_TAGLINE=
SALES_HUB_DEFAULT_BRAND_ID=
SALES_HUB_DEFAULT_LOCALE=
SALES_HUB_DEFAULT_TIMEZONE=
SALES_HUB_DEFAULT_CURRENCY=
SALES_HUB_SUPPORT_EMAIL=
SALES_HUB_SUPPORT_SLACK_CHANNEL=
SALES_HUB_NETLIFY_SITE_URL=

SALES_HUB_CHART_DEFAULT_RANGE_DAYS=
SALES_HUB_TREND_CACHE_TTL_MS=
SALES_HUB_EXPORT_MAX_ROWS=
SALES_HUB_LOG_LEVEL=
SALES_HUB_CDN_CHARTJS_URL=
SALES_HUB_CDN_SHEETJS_URL=

SALES_HUB_FEATURE_CALENDAR=
SALES_HUB_FEATURE_MULTI_BRAND=
SALES_HUB_FEATURE_ROI=
SALES_HUB_FEATURE_PORTFOLIO=
SALES_HUB_FEATURE_EVENTS=
SALES_HUB_FEATURE_MIX=
SALES_HUB_FEATURE_WHY=
SALES_HUB_FEATURE_ADMIN_IMPORT=
SALES_HUB_FEATURE_ADMIN_EXPORT=

SALES_HUB_SERVER_REGION=
SALES_HUB_SERVER_HEALTH_PATH=
SALES_HUB_CORS_ORIGIN=
SALES_HUB_UPLOAD_MAX_MB=
